* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

/*
                                         $$\           $$\                                   
                                         $$ |          $$ |                                  
 $$$$$$$\  $$$$$$\  $$\   $$\ $$$$$$$\ $$$$$$\    $$$$$$$ | $$$$$$\  $$\  $$\  $$\ $$$$$$$\  
$$  _____|$$  __$$\ $$ |  $$ |$$  __$$\\_$$  _|  $$  __$$ |$$  __$$\ $$ | $$ | $$ |$$  __$$\ 
$$ /      $$ /  $$ |$$ |  $$ |$$ |  $$ | $$ |    $$ /  $$ |$$ /  $$ |$$ | $$ | $$ |$$ |  $$ |
$$ |      $$ |  $$ |$$ |  $$ |$$ |  $$ | $$ |$$\ $$ |  $$ |$$ |  $$ |$$ | $$ | $$ |$$ |  $$ |
\$$$$$$$\ \$$$$$$  |\$$$$$$  |$$ |  $$ | \$$$$  |\$$$$$$$ |\$$$$$$  |\$$$$$\$$$$  |$$ |  $$ |
 \_______| \______/  \______/ \__|  \__|  \____/  \_______| \______/  \_____\____/ \__|  \__|
*/                                                                                            
.countdown-wrap {
    text-align: center;
    margin: 10px 0 20px;
}
.count-headline {
    font-weight: 600;
}
.countdown {
    list-style: none;
}
.countdown li {
    display: inline-block;
    color: #fafafa;
}
.countdown li > p {
    font-size: 0.725rem;
    font-weight: 600;
}
.flap {
    margin: 0 25px;
    font-size: 4.25rem;
    font-weight: 600;
    line-height: 1;
    min-width: 70px;
    min-height: 70px;
}

a {
    color: gray;
    font-size: small;
    transition-duration: .6s;
    transition-property: all;
    display: inline-block;
    text-decoration: none;
}
a img {
    color: gray;
    font-size: small;
    transition-duration: .6s;
    transition-property: all;
    padding: 2px;
    display: inline-block;
    padding: 2px;
}
a:hover {
    background-color: white;
    color: gray;
}
a img:hover {
    padding: 2px;
    color: gray;
    background-color: white;
}

/*
 --------------------
 Date Tooltip
*/

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    background-color: #222d;
    width: 140px;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    transition-property: opacity;
    transition-duration: .6s;
    opacity: 0;

    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
